# Environment variables for the server application
# Copy this file to .env and update the DB_PATH variable

# The port on which the server will run
PORT=8000

# The absolute path to the SQLite database file - Update this path
DB_PATH=C:absolute\path\to\indoor_shopping_nav.db